@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Babylonica";
  src: url("https://db.onlinewebfonts.com/t/763b4592ec81f8a0b7b9c6ad4cc0acc5.eot");
  src: url("https://db.onlinewebfonts.com/t/763b4592ec81f8a0b7b9c6ad4cc0acc5.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/763b4592ec81f8a0b7b9c6ad4cc0acc5.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/763b4592ec81f8a0b7b9c6ad4cc0acc5.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/763b4592ec81f8a0b7b9c6ad4cc0acc5.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/763b4592ec81f8a0b7b9c6ad4cc0acc5.svg#Babylonica")format("svg");
}

@font-face {
  font-family: "Calibri";
  src: url("https://db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.eot");
  src: url("https://db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.svg#Calibri")format("svg");
}